/* src/index.css */

body {
  margin: 0;
}

a {
  list-style: none;
  color: black;
}

button,
select {
  padding: 5px 10px;
  min-width: 50px;
  margin: 5px;
  font-size: 18px;
}

label {
  width: 200px;
  display: block;
}

input,
textarea {
  width: 200px;
  padding: 10px;
  display: inline-block;
  margin: 10px;
}

nav {
  background: #076678;
  color: white;
  box-shadow: 0px 1px 2px gray;
  width: 100%;
  height: 105px;
  display: flex;
  justify-content: center;
}

.logo {
  display:flex;
  justify-content:end;
  cursor: pointer;
  margin-top: -65px;
  margin-left: rem;
}

/* Sidebar Styles */
.sidebar {
  margin-top: 105px;
  height: calc(100vh - 105px);
  width: 115px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgb(170,170,170);
  padding-top: 20px;
  z-index: 1000;

}

.sidebar h2 {
  color: #fff;
  text-align: center;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar ul li {
  padding: 10px 0;
  text-align: center;
}

.sidebar ul li a {
  color: #fff;
  text-decoration: none;
  display: block;
}

.sidebar ul li a:hover {
  background-color: #555;
}

/* Button Styles */
#menuButton {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px;
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
}

/* Circle Menu Styles */
.circle-menu {
  position: fixed;
  bottom: 100px;
  right: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu-item {
  width: 50px;
  height: 50px;
  margin: 10px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.hidden {
  display: none;
}

.content {
  margin-left: 250px; 
}

.footer-container {
  margin: 0;
  padding: 0;
  position: fixed;
  bottom: 0;
  left: 115px;
  width: calc(100% - 115px);
  background-color: #e9ae39;
  height: 95px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-container img {
  width: 12rem;
}

.footer-nav {
  display: flex;
  justify-content: center;
}

.footer-bottom {
  color: white;
}

.footer-logo {
  display: flex;
  justify-content: center;
}

.github-button {
  display: flex;
  justify-content: center;
  color: white;
}

/* ABOUT PAGE CSS  */
.about-container {
  font-family: "Lato";
  margin-left: 5rem;
  margin-right: 5rem;
}

.about-title {
  font-family: "Lato";
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.about-image {
width: 125px;
height: 125px;
display:block;
margin-left: auto;
margin-right: auto;
margin-bottom: 0;
}

.about-greeting {
  font-family: "Lato";
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  text-align: center;
}

.about-contents {
  font-family: "Lato";
  padding-bottom: 2rem; ;
  justify-content: center;
  text-align: center;
  padding-left: 10rem;
  padding-right: 10rem;
  font-size: 18px;
}

/* Estilos para el carrusel */
.slick-slider {
  position: relative;
  box-sizing: border-box;
  user-select: none;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.slick-arrow slick-prev{
  color: black;
}
.slick-slide {
  float: left;
  min-height: 1px;
  display: none;
}

.slick-prev,
.slick-next {
  font-size: 18px;
  color: #333;
  z-index: 1;
}

.slick-dots {
  position: absolute;
  bottom: 10px;
  list-style: none;
  text-align: center;
  padding: 0;
  margin: 0;
}

.slick-dots li {
  display: inline-block;
  margin: 0 5px;
}

.slick-dots li button {
  font-size: 12px;
  display: block;
  width: 10px;
  height: 10px;
  padding: 0;
  border: none;
  border-radius: 50%;
  background-color: #bbb;
  cursor: pointer;
  opacity: 0.75;
  transition: background-color 0.3s ease;
}

.slick-dots li.slick-active button {
  background-color: #333;
}


.SignupPage,
.LoginPage {
  background: #f9eec3;
  border: 1px solid grey;
  box-shadow: 0px 2px 3px grey;
  width: 400px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 4px;
}


.SignupPage,
.LoginPage {
  background-color: #608dd5;
}

.LoginPage {
  background-color: #94a7c8;
}

.SignupPage form,
.LoginPage form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.treatment-card {
  display: flex;
  margin-bottom: 20px;
}

.treatment-image {
  flex: 1;
  padding-right: 20px;
}

.treatment-image img {
  width: 100%;
  height: auto;
}

.treatment-content {
  flex: 1;
  padding-right: 20px;
}

.treatment-details {
  flex: 1;
}

.treatment-details table {
  width: 100%;
}

.treatment-details table td {
  padding: 5px 10px;
  border-bottom: 1px solid #ddd;
}

.treatment-details table td:first-child {
  font-weight: bold;
}