/* src/index.css */

body {
  margin: 0;
}

a {
  list-style: none;
  color: black;
}

button,
select {
  padding: 5px 10px;
  min-width: 50px;
  margin: 5px;
  font-size: 18px;
}

label {
  width: 200px;
  display: block;
}

input,
textarea {
  width: 200px;
  padding: 10px;
  display: inline-block;
  margin: 10px;
}

nav {
  background: #076678;
  color: white;
  box-shadow: 0px 1px 2px gray;
  width: 100%;
  height: 105px;
  display: flex;
  justify-content: center;
}

.logo {
  display:flex;
  justify-content:end;
  cursor: pointer;
  margin-top: -65px;
  margin-left: rem;
}

/* Sidebar Styles */
.sidebar {
  margin-top: 106px;
  height: 100%;
  width: 115px;
  position: fixed;
  top: 0;
  left: 0;
  background-color:#ecac2d;
  padding-top: 20px;

}

.sidebar h2 {
  color: #fff;
  text-align: center;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar ul li {
  padding: 10px 0;
  text-align: center;
}

.sidebar ul li a {
  color: #fff;
  text-decoration: none;
  display: block;
}

.sidebar ul li a:hover {
  background-color: #555;
}

.content {
  margin-left: 250px; /* Adjust according to the width of your sidebar */
  padding: 20px;
}

.SignupPage,
.LoginPage {
  background: #f9eec3;
  border: 1px solid grey;
  box-shadow: 0px 2px 3px grey;
  width: 400px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 4px;
}


.SignupPage,
.LoginPage {
  background-color: #608dd5;
}

.LoginPage {
  background-color: #94a7c8;
}

.SignupPage form,
.LoginPage form {
  display: flex;
  flex-direction: column;
  align-items: center;
}